body {
	font-family: sans-serif;
}

a {
	text-decoration: none;
}

:target {
	border: none;
	box-shadow: inset 0 0 .25em #8a9ae3; 
}

.header {
	background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAL0lEQVQImWPwDJn53zdq3n/PkJn/VY3a/zMgczxDZv5nQOb4Rs37z4DM8QyZ+R8AdkIiLRY76ncAAAAASUVORK5CYII=) repeat;
	padding: 1em;
	font-size: 1.1em;
	font-weight: bold;
	color: #fff;
	line-height: 1.2em;
	margin: 1em 0 0 0;
}

.header + ul {
	background: #f0f0f5;
	margin: 0 0 1em 0;
	padding: 1em;
}

.list {
	list-style: none;
	position: relative;
}

.collapsed > .label, 
.open > .label {
	cursor: pointer;
}

.collapsed, .open {
	position: relative;
}

.collapsed > .label:before,
.open > .label:before {
	border-style: solid;
	content: "";
	display: inline-block;
	height: 0;
	position: absolute;
	top: .4em;
	left: 0;
	width: 0;
}

.collapsed > .label:before {
	border-color: transparent #111;
	border-width: 0.35em 0 0.35em 0.45em;
}

.open > .label:before {
	border-color: #111 transparent;
	border-width: 0.45em 0.35em 0 0.35em;
}

.loader:after {
	content: url("loader.gif");
	display: inline-block;
	position: absolute;
	margin-left: 1.2em;
	top: .25em;
}

.label {
	display: inline-block;
	font-size: .9em;
	font-weight: bold;
	padding: 0.2em 1em;
}

.label:hover {
	background: #ddd;
}

.value {
	display: inline-block;
	padding: 0.2em 1em;
}

#anchored {
	position: relative;
}

.linkbar {
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 10;
	margin: 0 1em 1em 0;
}

.linkbar p {
	font-size: .9em;
	padding: 0;
	margin: 0;
}

.error span {
	color: #8c2923;
}

.error span:before {
	content: url("error.png");
	display: inline-block;
	position: absolute;
	margin-left: -1.2em;
}

.highlight {
}

.label-extra {
	color: #f00;
}
